
/* when screen is below 1200px, desktop nav disappears */
@media screen and (max-width: 800px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}


/* @media (max-width: 800px) {
    .article-container {
        flex-direction: column; /* Change to a column layout on smaller screens */
    /* }

    .article-container article {
        max-width: 100%; /* Take up the full width on smaller screens */
    /* }
/* } */ 
